---
title: Posts
layout: page
pageOrder: 2
---

nav.linklist
  each doc in getCollection('posts').toJSON()
    li
      span= doc.date.toDateString()
      |  &raquo;&nbsp;
      a(href=getUrl(doc.url))= doc.title
